version: '3.4'
services:
  weaviate:
    image: semitechnologies/weaviate:latest
    ports:
      - "8080:8080"    # REST API
      - "50051:50051"  # gRPC
    environment:
      QUERY_DEFAULTS_LIMIT: 25
      AUTHENTICATION_ANONYMOUS_ACCESS_ENABLED: 'true'
      ENABLE_MODULES: 'text2vec-huggingface'
      PERSISTENCE_DATA_PATH: '/var/lib/weaviate'
      HUGGINGFACE_APIKEY: ${HUGGINGFACE_APIKEY}

  langchain-inference:
      build:
        context: .
      container_name: langchain_inference
      ports:
        - "8000:8000"
      depends_on:
        - weaviate
      deploy:
        resources:
          reservations:
            devices:
              - capabilities: ["gpu"]
      volumes:
        - ./:workspace/
      command: ["tail", "-f", "/dev/null"]