pandas
torch
transformers==4.48.1
weaviate-client
langchain
langchain-community
langchain-weaviate
sentence-transformers
datasets
accelerate
python-dotenv
tiktoken
fastapi
uvicorn[standard]
gradio
cohere
FlagEmbedding
langgraph
python-dotenv
pyevall
evaluate
nltk
ollama
langchain_ollama